header {
    background-color: #AA9ABA;
    display: flex;
    color: rgb(97, 93, 93);
}

#profile {
    border-radius: 50%;
    height:150px;
}

.name {
    font-size: 50px;
    font-family: Copperplate, Cochin,'Times New Roman', serif;
    color:#E8C5C8;
    justify-content: center;
    line-height: 30px;
}

#lName {
    padding-left: 130px;
}

#major {
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    padding-left: 25px;
    color: rgb(68, 65, 65);
}

#contact {
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    padding-top: 20px;
}

#info {
    background-color: #AA9ABA;
    color:#E8C5C8;
    font-family: 'Times New Roman';
    font-size: 20px;
    padding-top: 20px;
}


#main {
    justify-content: space-evenly;
}

.title {
    display: flex;
    justify-content: center;
    background-color: #BFA4A4;
    padding: 10px;
    border-radius: 15px;
    color: #7B77BE;
    
}
main {
    background-color:#E6BFC2;
    color: rgb(68, 65, 65);
}

body {
    background-color: #E6BFC2;
}

footer {
    background-color:#AA9ABA;
}

@media (max-width: 575px) {
    main {
        padding-left: 11px;
        padding-right: 11px;
    }
    header {
        text-align: center;
        font-size: 30px;
    }
    #info {
        font-size: 20px;
    }
    #major {
        font-size: 20px;
        padding-left: 0px;
    }
    .name {
        font-size: 40px;
    }
    #lName {
        padding-left: 0px;
    }
    footer {
        padding-right: 50px;
    }
    img {
        height: 70px;
    }
}
