.card {
    height:700px;
    width: 500px;
}

.sidebar {
    text-align: center;
}

.sidebar a{
    text-decoration: none;
    color: #344e41;
    margin-bottom: 13px;
    display: block;
}

#navbar {
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.section {
    display: none;
    color: #344e41;
    border-left: 6px dashed #344e41;
}

.section.active {
    display: block;
}

@media (max-width: 1330px) {
    .card {
        height: auto;
        width: auto;
    }
}

@media (max-width: 360px) {
    .sidebar {
        font-size: 10px;
    }
    #sidebarHeader {
        font-size: 15px;
        font-weight: bold;
    }
}
